/* home*/
.site-header {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction:column;
    align-items:center;
    color: white;
    text-align: center;
    background-color: #00000045;
    height: 100vh;
    margin-left: 206px;
    margin-right: 0px;
    
}

.descr{
  margin-right: 50px;
  margin-left: 50px;
}



.portfolio{
  margin-right: 75%;
  text-decoration:underline;
  margin-left: 150px;
}
.contact{
  margin-left: 162px;
  margin-right: 150px;
  margin-top: -3%;
  align-items:center;
}

.linkdin-msg{
  
  margin-left: 162px;
  margin-right: 150px;
  margin-top: 119px;
  align-items:center;
  color: #ffffff;
}

.linkdin-msg a:hover {
  color: #0041f3;
}

.email{
  margin-left: 162px;
  margin-right: 150px;
  margin-top: 119px;
  align-items:center;
}


.profile-pic{
    border-radius: 30%;    
    height: 220px;
    width: 200px;
    box-shadow: rgb(255, 255, 255) 3px 3px 8px;
    
  
  }

body{
    margin: 0;
   
}

/*Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 205px;
  position: fixed;
  top: 10;
  left: 0;
  overflow-x: hidden;
  padding-top: 0px;
  border: 2px solid #ffffff;
  background-color:  #00000045;
  
}

/* Style sidebar links */
.sidebar a {
  padding: 16px 8px 16px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
}

/* Active/current link */
.sidebar a.active {
    background-color: #c1c1c18e;
    color: white;
}
/* Style links on mouse-over */
.sidebar a:hover {
  color: #000000;
}


/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}




/*Style the sidebar - fixed full height */
.sidebar2 {
    height: 100%;
    width: 205px;
    position: fixed;   
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 0px;
    border: 2px solid #ffffff;
    background-color: #00000045;
  }
  
  /* Style sidebar links */
  .sidebar2 a {
    padding: 16px 8px 16px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
  }
  
  /* Active/current link */
  .sidebar2 a.active {
      background-color: #c1c1c15e;
      color: white;
  }
  /* Style links on mouse-over */
  .sidebar2 a:hover {
    color: hsl(205, 100%, 50%);
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-width: 450px) {
    .sidebar {padding-top:05px; width: 100px; }
    .sidebar a {font-size: 12.7px; }
    .sidebar2 {padding-top: 5px; width: 100px; }
    .sidebar2 a {font-size: 12.7px;}
    .site-header {font-size: 10px; align-items:center; margin-left: 102px; margin-bottom: 200px; margin-right: 0%;}
    .profile-pic { height: 110px;
      width: 100px;}
    .contact{font-size: 13px; margin-top: 20px;}
    .linkdin-msg{font-size: 10.5px;}
    .email{font-size: 13px;}
    .portfolio{margin-left: 50px;}
    .descr{margin-left: 20px; margin-right: 20px;}
  }
  
.head{
  font-size: 300%;
  font-weight: bolder;
  text-align: right;
}

